<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CookiesExample</display-name>
  <welcome-file-list>
    <welcome-file>users.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookiesDemo</display-name>
    <servlet-name>CookiesDemo</servlet-name>
    <servlet-class>CookiesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesDemo</servlet-name>
    <url-pattern>/CookiesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPortal</display-name>
    <servlet-name>AdminPortal</servlet-name>
    <servlet-class>AdminPortal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPortal</servlet-name>
    <url-pattern>/AdminPortal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPortal</display-name>
    <servlet-name>EmpPortal</servlet-name>
    <servlet-class>EmpPortal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPortal</servlet-name>
    <url-pattern>/EmpPortal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBPortal</display-name>
    <servlet-name>DBPortal</servlet-name>
    <servlet-class>DBPortal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPortal</servlet-name>
    <url-pattern>/DBPortal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectTo</display-name>
    <servlet-name>RedirectTo</servlet-name>
    <servlet-class>RedirectTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectTo</servlet-name>
    <url-pattern>/RedirectTo</url-pattern>
  </servlet-mapping>
</web-app>